lang-trans
arabic-pronounce
inflect == 4.1.0
numba == 0.48
pypinyin==0.39.0
pyworld == 0.2.10
PyYAML==5.4.1
tgt == 1.4.4
tqdm==4.46.1
unidecode == 1.1.1
pyarabic>=0.6.2
libqutrub>=1.0
naftawayh>=0.2
tashaphyne>=0.3.1
arramooz-pysqlite>=0.1
qalsadi>=0.2
mysam-tagmanager>=0.3.3
alyahmor>=0.1
asmai>=0.1
sylajone>=0.1
maskouk-pysqlite>=0.1
pickledb>=0.9.0
codernitydb3==0.6.0